@import 'simple-color-picker.css';

html, body{
  //border: 10px solid $primary;
  font-family: monospace;
  color: white;
  margin:0;
  padding:1em;
  overflow:hidden;
}

.header {
  max-width: 20em;
  display: block;
  h3{
    letter-spacing: 0.1em;
  }
}

body{
    background-color: rgb(237, 62, 68);
}


canvas{
  display: block;
  position: absolute;
  top: calc(50vh - 300px);
  left: calc(50vw - 600px);
  z-index: -999;
}
